<div data-collapsible data-allow-transform="false" data-draggable class="issue {{ issue.state === 'closed' ? 'closed' : ''}}" data-ng-class="'panel-' + (issue.theme || 'default')" data-ng-drag="draggable" data-ng-drag-data="issue" data-ng-drag-success="drag()" data-ng-controller="IssueController">
    <div class="panel-heading clearfix" data-ng-prevent-drag>
        <i class="fa fa-star" data-ng-if="issue.starred"></i>
        <a class="pull-left" href="/gitlab/{{ project.path_with_namespace }}/issues/{{ ::issue.iid }}" target="_blank">
            <strong>#{{ ::issue.iid }}</strong> <span data-ng-bind-html="issue.title | reference"></span>
        </a>
        <div class="btn-group" data-authorize="developer">
            <button type="button" class="btn btn-xs btn-default btn-zoom" data-ng-click="zoom()" data-ng-disabled="zooming">
                <i class="fa" data-ng-class="{'fa-spinner fa-spin': zooming, 'fa-expand': !zooming}"></i>
            </button>
            <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" data-authorize="developer">
                <li><a data-ng-click="theme()" class="faa-parent animated-hover" data-ng-class="{bold: issue.theme == 'default' || !issue.theme}"><i class="fa fa-circle faa-tada text-default"></i> Default</a></li>
                <li><a data-ng-click="theme('info')" class="faa-parent animated-hover" data-ng-class="{bold: issue.theme == 'info'}"><i class="fa fa-circle faa-tada text-info"></i> Blue</a></li>
                <li><a data-ng-click="theme('success')" class="faa-parent animated-hover" data-ng-class="{bold: issue.theme == 'success'}"><i class="fa fa-circle faa-tada animated-hover text-success"></i> Green</a></li>
                <li><a data-ng-click="theme('warning')" class="faa-parent animated-hover" data-ng-class="{bold: issue.theme == 'warning'}"><i class="fa fa-circle faa-tada text-warning"></i> Yellow</a></li>
                <li><a data-ng-click="theme('danger')" class="faa-parent animated-hover" data-ng-class="{bold: issue.theme == 'danger'}"><i class="fa fa-circle faa-tada animated-hover text-danger"></i> Red</a></li>
                <li class="divider"></li>
                <li><a data-ng-click="star(!!!issue.starred)" class="faa-parent animated-hover"><i class="fa faa-tada animated-hover" data-ng-class="{'fa-star': !!!issue.starred, 'fa-star-o': !!issue.starred}"></i> <span data-ng-if="!!!issue.starred">Star</span><span data-ng-if="!!issue.starred">Unstar</span></a></li>
                <li data-ng-if="!$root.project.unpinned">
                    <a data-ng-click="unpin()" class="faa-parent animated-hover">
                        <i class="fa fa-thumb-tack faa-tada animated-hover"></i> Unpin
                    </a>
                </li>
                <li><a target="_blank" href="/gitlab/{{ project.path_with_namespace }}/issues/{{ ::issue.iid }}/edit" class="faa-parent animated-hover"><i class="fa fa-pencil faa-tada animated-hover"></i> Edit</a></li>
                <li data-ng-if="issue.state != 'closed' && column.closable">
                    <a data-ng-click="close()" class="faa-parent animated-hover">
                        <i class="fa fa-check-circle-o faa-tada animated-hover"></i> Close
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body clearfix">
        <div class="issue-body">
            <div class="avatars">
                <img class="avatar" data-ng-src="{{ ::issue.author.avatar_url }}" data-ng-if="issue.author.avatar_url" data-tooltip-trigger data-tooltip="{{ ::issue.author.name }}"/>
                <img class="avatar" data-gravatar-src="::issue.author.email" data-gravatar-size="100" data-ng-if="issue.author.email" data-tooltip-trigger data-tooltip="{{ ::issue.author.name }}"/>

                <div class="box" data-ng-prevent-drag data-ng-class="{in: !issue.assignee}">
                    <div class="overlay" data-ng-click="assign()" data-authorize="developer">
                        <span><i class="fa fa-user"></i></span>
                    </div>
                    <img class="avatar assignee" data-ng-src="{{ issue.assignee.avatar_url }}" data-ng-if="issue.assignee.avatar_url"/>
                    <img class="avatar assignee" data-gravatar-src="issue.assignee.email" data-gravatar-size="100" data-ng-if="issue.assignee.email"/>
                </div>
            </div>

            <p class="shortdesc" data-ng-bind-html="issue.title|reference"></p>

            <div data-ng-prevent-drag class="labels">
                <span class="label label-default" data-ng-repeat="tag in issue.tags" style="background-color: {{ tag.color }}">{{ tag.name }}</span>
            </div>
        </div>
    </div>
    <div class="panel-footer" data-ng-prevent-drag>
        <moment datetime="::issue.created_at" data-tooltip-trigger data-tooltip="{{ ::issue.created_at|date:'EEEE, MMMM d, y HH:mm:ss' }}" data-tooltip-placement="bottom"></moment>
        <strong>
            {{ issue.milestone.title }}
            <small><moment datetime="issue.milestone.due_date" data-tooltip-trigger data-tooltip="{{ issue.milestone.due_date|date:'EEEE, MMMM d, y HH:mm:ss' }}" data-tooltip-placement="bottom"></moment></small>
        </strong>
    </div>
</div>
