<div id="{{ ::column.title | slugify }}" data-column data-column-color="{{ column.color }}" class="column pull-left" data-ng-controller="ColumnController">
    <div class="panel-heading">
        <strong>{{ ::column.title }}</strong>

        <counter singular="issue" plural="issues" max="column.limit" value="count"></counter>

        <div class="btn-group" data-ng-prevent-drag="true">
            <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li data-authorize="master"><a data-ng-click="edit()" class="faa-parent animated-hover"><i class="fa fa-cog faa-spin"></i> Settings</a></li>
                <li data-authorize="master"><a data-ng-click="remove()" class="faa-parent animated-hover"><i class="fa fa-trash-o faa-wrench"></i> Drop</a></li>
                <li data-authorize="master"><a data-ng-click="move(-1)" class="faa-parent animated-hover"><i class="fa fa-caret-square-o-left faa-horizontal"></i> Left</a></li>
                <li data-authorize="master"><a data-ng-click="move(+1)" class="faa-parent animated-hover"><i class="fa fa-caret-square-o-right faa-horizontal"></i> Right</a></li>
                <li class="divider" data-authorize="master"></li>
                <li><a data-authorize="developer" data-ng-click="starAll()" class="faa-parent animated-hover"><i class="fa fa-star faa-tada animated-hover"></i> Star all</a></li>
                <li><a data-authorize="developer" data-ng-click="starAll(false)" class="faa-parent animated-hover"><i class="fa fa-star-o faa-tada animated-hover"></i> Unstar all</a></li>
                <li data-authorize="master" data-ng-if="!$root.project.unpinned">
                    <a data-ng-click="pin()" class="faa-parent animated-hover">
                        <i class="fa fa-thumb-tack faa-tada"></i> Pin issues
                    </a>
                </li>
                <li data-authorize="reporter"><a target="_blank" href="/gitlab/{{ project.path_with_namespace }}/issues/new?issue[label_list]=column:{{ ::column.title | lowercase }}" class="faa-parent animated-hover"><i class="fa fa-plus faa-tada"></i> New issue</a></li>
                <li><a target="_blank" href="/gitlab/{{ project.path_with_namespace }}/issues?label_name=column:{{ ::column.title | lowercase }}&state=opened" class="faa-parent animated-hover"><i class="fa fa-search faa-wrench"></i> View issues</a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body" data-ng-class="{full: isFull}" data-ng-drop="{{droppable}}" data-ng-drop-success="drop($data)" data-loading="project.issues.$objects">
        <div data-ng-repeat="issue in project.issues.$objects | column:column | search:globalSearch | orderIssues track by issue.id" data-ng-include="'issue/partials/issue.html'"></div>
    </div>
</div>
